@tailwind base;
@tailwind components;
@tailwind utilities;

#draggablePanelList .panel-heading {
  cursor: move;
}

#draggablePanelList2 .panel-heading {
  cursor: move;
}

#draggablePanelList3 .panel-heading {
  cursor: move;
}
